<template>
  <div class="details-view">
    <loading-component v-if="detailsPromise"
    :promise="detailsPromise">
      <template v-slot:rejection>
        Error loading hotel data.
      </template>
      <hotel-thumbnail :hotel="hotelData" :expand-info="true"></hotel-thumbnail>
    </loading-component>
  </div>
</template>

<script>
import HotelsService from '@/services/hotels';
import LoadingComponent from '@/components/loading/LoadingComponent.vue';
import { mapActions } from 'vuex';
import HotelThumbnail from '../components/HotelThumbnail.vue';
import { NotificationsModuleName, NotificationActions, ntfTypes } from '../../../store/NotificationsModule';
import { HotelsModuleName, HotelsActions } from '../../../store/HotelsModule';

export default {
  name: 'DetailsView',
  components: { LoadingComponent, HotelThumbnail },
  data() {
    return {
      detailsPromise: null,
      hotelData: null,
    };
  },
  props: {
    id: {
      type: [Number, String],
      required: true,
    },
  },
  created() {
    const hotelPromise = HotelsService.getHotelDetails(this.id)
      .then((data) => { this.hotelData = data; })
      .catch(() => {
        this.addNotification({ content: 'Hotel does not exist.', type: ntfTypes.error });
      });
    const allHotelsPromise = this.getAllHotels();

    this.detailsPromise = Promise.all([hotelPromise, allHotelsPromise]);
  },
  methods: {
    ...mapActions(NotificationsModuleName, {
      addNotification: NotificationActions.addNtf,
    }),
    ...mapActions(HotelsModuleName, {
      getAllHotels: HotelsActions.getAllHotels,
    }),
  },

};
</script>

<style>

</style>
