<template>
  <div class="hotels-view">
    <hotels-navigation></hotels-navigation>
    <keep-alive>
      <router-view></router-view>
    </keep-alive>
  </div>
</template>

<script>
import HotelsNavigation from '../components/HotelsNavigation.vue';

export default {
  name: 'HotelsView',
  components: { HotelsNavigation },
};
</script>

<style>

</style>
