<template>
  <div class="dashboard-view">
    <loading-component :promise="hotelsPromise">
      <template v-slot:indicator>
        <div class="loading-indicator">
          <loading-spinner></loading-spinner>
        </div>
      </template>

      <template v-if="!favorites || favorites.length === 0">
        <div class="no-favorites">
          No favorites.
        </div>
      </template>
      <hotel-thumbnail v-for="hotel in favorites" :key="hotel.id"
      :hotel="hotel"></hotel-thumbnail>
    </loading-component>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { HotelsModuleName, HotelsActions } from '@/store/HotelsModule';

import LoadingComponent from '@/components/loading/LoadingComponent.vue';
import LoadingSpinner from '@/components/loading/LoadingSpinner.vue';
import HotelThumbnail from '@/sections/Hotels/components/HotelThumbnail.vue';

export default {
  name: 'DashboardView',
  components: {
    LoadingComponent,
    HotelThumbnail,
    LoadingSpinner,
  },
  data() {
    return {
      hotelsPromise: Promise.resolve(),
    };
  },
  computed: {
    ...mapState(HotelsModuleName, {
      favorites: (state) => state.favorites,
    }),
  },
  created() {
    this.getFavoritesProxy();
  },
  methods: {
    ...mapActions(HotelsModuleName, {
      getAllHotels: HotelsActions.getAllHotels,
    }),
    getFavoritesProxy() {
      this.hotelsPromise = this.getAllHotels();
    },
  },
};
</script>

<style lang="less" scoped>
.dashboard-view {
  margin-top: 16px;
  padding: 0 8px;
}
</style>
