@import "reset.less";
@import "form-elements.less";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 16px;
}

.responsive-image {
  max-width: 100%;
}

@border-radius: 3px;
@padding-size: 4px;

.container {
  padding: @padding-size * 2;
}

.loading-indicator {
  width: 100%;
  height: 100%;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  &.form-small {
    width: 250px;
  }
}

.form-label {
  display: block;
  width: 100%;
  
  .form-label-text {
    display: block;
    width: 100%;
    margin: @padding-size * 2 0;
  }

  .form-element {
    border: 1px solid gray;
    width: 100%;
    border-radius: @border-radius;
    outline: none;
    padding: @padding-size * 2;
  }
}

.form-link {
  align-self: flex-end;
  margin: @padding-size * 2 0;
}

.btn {
  padding: @padding-size * 2;
}