<template>
  <div class="hotel-thumb">

    <div class="hotel-thumb-info">
      <div class="hotel-image" :style="computeImage"></div>

      <div class="hotel-details">
        <div class="hd-header">
          <div class="hd-header-name">

            <div class="hd-header-text">
              <h2 class="hd-header-name-hotelname">
                {{ hotel.name }}
              </h2>
              <div class="hd-header-location">
                {{ hotel.city }} - {{ hotel.country }}
              </div>
            </div>

            <div class="hd-header-name-favoriteicon" @click="toggleFavoriteProxy">
              <fa-icon class="icon"
              v-if="isFavorite(hotel.id)" :icon="['fas', 'heart']" size="2x"></fa-icon>
              <fa-icon class="icon"
              v-if="!isFavorite(hotel.id)" :icon="['far', 'heart']" size="2x"></fa-icon>
            </div>
          </div>


          <div class="hd-header-rating">
            <stars-count :count="hotel.stars" @star-click="rateStars"></stars-count>
          </div>
        </div>

        <div class="hd-description">
          {{ hotel.description }}
        </div>

        <div class="hd-price">
          {{ hotel.price }}€
        </div>

        <div class="hd-footer">
          <div class="hd-footer-date">
            ({{ formattedHotelDate }})
          </div>
          <div class="hd-footer-button" v-show="!expandInfo">
            <button @click="openDetailsWindow">
              Show Details
            </button>
            <button @click="showReviews = !showReviews">
              <fa-icon :icon="['fas', 'angle-down']" v-show="!showReviews"></fa-icon>
              <fa-icon :icon="['fas', 'angle-up']" v-show="showReviews"></fa-icon>
              Show reviews
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="hotel-thumb-reviews" v-if="showReviews || expandInfo">
      <hotel-reviews :hotel-id="hotel.id"></hotel-reviews>
    </div>
  </div>
</template>

<script>
import dateParser from '@/utils/dateParser';
import StarsCount from '@/components/presentational/StarsCount.vue';
import { mapActions, mapGetters } from 'vuex';
import HotelReviews from './HotelReviews.vue';
import { HotelsModuleName, HotelsActions, HotelsGetters } from '../../../store/HotelsModule';

export default {
  name: 'HotelThumb',
  components: {
    StarsCount,
    HotelReviews,
  },
  props: {
    hotel: {
      type: Object,
      required: true,
    },
    expandInfo: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      showReviews: false,
    };
  },
  computed: {
    ...mapGetters(HotelsModuleName, {
      isFavorite: HotelsGetters.isFavorite,
    }),
    formattedHotelDate() {
      return dateParser(this.hotel.date);
    },
    computeImage() {
      return `background-image: url("${this.hotel.image}")`;
    },
  },
  methods: {
    ...mapActions(HotelsModuleName, {
      toggleFavorite: HotelsActions.toggleFavorite,
    }),
    rateStars(number) {
      console.log('rating it', number);
    },
    toggleFavoriteProxy() {
      this.toggleFavorite(this.hotel);
      /* console.log(window.opener);
      window.opener.postMessage(JSON.stringify({ toggleFav: true })); */
    },
    openDetailsWindow() {
      const routeData = this.$router.resolve({ name: 'Details', params: { id: this.hotel.id } });
      // const routeData = this.$router.resolve({ path: `/hotels/details/${this.hotel.id}` });
      console.log(routeData);
      window.open(routeData.href, 'myWin', 'height=600,width=500,modal=yes,alwaysRaised=yes');
      /* windowRef.addEventListener('message', (m) => {
        console.log(m);
        const decoded = JSON.parse(m.data);
        console.log('decoded', decoded);
      }); */
    },
  },
};
</script>

<style lang="less" scoped>
.hotel-thumb {
  width: 100%;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  .hotel-thumb-info {
    display: flex;
    width: 100%;

    @media screen and (max-width: 768px){
      flex-direction: column;
    }

    .hotel-image {
      display: block;
      min-width: 400px;
      min-height: 400px;
      background-position: 50% 50%;
      background-attachment: fixed;
      background-size: cover;
      background-attachment: unset;

      @media screen and (max-width: 768px){
        min-height: 200px;
      }
    }

    .hotel-details {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-between;
      padding: 32px 16px;
      border: 1px solid gray;
      border-left: none;

      .hd-header {
        display: flex;
        justify-content: space-between;

        .hd-header-name {
          align-self: flex-start;
          display: flex;
          margin-bottom: 32px;

          .hd-header-name-favoriteicon {
            margin-left: 8px;
            align-self: flex-start;
            cursor: pointer;

            .icon {
              color: red;
            }
          }
        }
        .hd-header-rating {
          align-self: flex-start;
        }
      }

      .hd-price {
        width: 100%;
        text-align: right;
        font-size: 2.5em;
      }

      .hd-footer {
        display: flex;
        justify-content: space-between;

        .hd-footer-button {
          button {
            margin-left: 8px;
          }
        }
      }
    }

  }
}
</style>
