<template>
  <div class="hotel-reviews">
    <loading-component :promise="reviewsPromise">
      <template v-slot:indicator>
        <div class="loading-indicator">
          <loading-spinner></loading-spinner>
        </div>
      </template>

      <template v-slot:default>
        <div class="reviews-list">
          <template v-if="reviews.length === 0">No reviews.</template>
          <template v-if="reviews.length > 0">
            <single-review v-for="review in reviews" :key="review.id"
            :review="review"></single-review>
          </template>
        </div>
      </template>
    </loading-component>
  </div>
</template>

<script>
import HotelsService from '@/services/hotels';
import LoadingComponent from '@/components/loading/LoadingComponent.vue';
import LoadingSpinner from '@/components/loading/LoadingSpinner.vue';
import SingleReview from './SingleReview.vue';

export default {
  name: 'HotelReviews',
  components: {
    LoadingComponent,
    LoadingSpinner,
    SingleReview,
  },
  props: {
    hotelId: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      reviewsPromise: Promise.resolve(),
      reviews: [],
    };
  },
  created() {
    this.loadReviews();
  },
  methods: {
    loadReviews() {
      this.reviewsPromise = HotelsService.getHotelReviews(this.hotelId);
      this.reviewsPromise.then((data) => { this.reviews = data; });
    },
  },
};
</script>

<style lang="less" scoped>
.hotel-reviews {
  width: 100%;
  border: 1px solid gray;
  border-top: none;
  .reviews-list {
    display: flex;
    flex-direction: column;
    padding: 8px;
  }

}
</style>
