<template>
  <div class="navigation-container">
    <div class="router-links">
      <router-link v-for="(rlink, idx) in routerLinks" :key="idx"
      :to="rlink.path" class="nav-link">
        {{rlink.label}}
      </router-link>
    </div>

    <div class="user">
      <div class="user-email">
        <span class="email">
          {{ loginInfo.email }}
        </span>
        <fa-icon :icon="['fas', 'user']"></fa-icon>
      </div>
      <div class="logout">
        <a href="javascript:void(0)" @click="logoutProxy">Sign Out</a>
      </div>
    </div>

  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { AuthModuleName, AuthActions } from '../../../store/AuthModule';
import { loginRouteName } from '../../Auth';

export default {
  name: 'NavigationContainer',
  data() {
    return {
      routerLinks: [
        {
          label: 'Dashboard',
          path: '/hotels/dashboard',
        },
        {
          label: 'Favorites',
          path: '/hotels/favorites',
        },
      ],
    };
  },
  methods: {
    ...mapActions(AuthModuleName, {
      logout: AuthActions.logout,
    }),
    logoutProxy() {
      this.logout();
      this.$router.push({ name: loginRouteName });
    },
  },
  computed: {
    ...mapState(AuthModuleName, {
      loginInfo: (state) => state.loginInfo,
    }),
  },
};
</script>

<style lang="less" scoped>
.navigation-container {
  padding: 16px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;

  .router-links {
    align-self: flex-start;

    .nav-link {
      margin: 0 8px;
    }
  }

  .user {
    display: flex;
    margin-right: 8px;

    .user-email {
      margin-right: 16px;
    }
  }


}
</style>
