<template>
  <div class="hotel-review">
    <div class="author-image">
      <img src="@/assets/profpic.png" class="responsive-image">
    </div>
    <div class="review-content">
      <div class="content-header">
        <div class="name">
          {{review.author.first_name}} {{review.author.last_name}}
        </div>
        <div class="impression">
          <fa-icon size="2x"
          :icon="['fas', 'thumbs-up']" class="pos" v-if="review.positive"></fa-icon>
          <fa-icon size="2x"
          :icon="['fas', 'thumbs-down']" class="neg" v-if="!review.positive"></fa-icon>
        </div>
      </div>
      <div class="message">
        {{ review.message }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SingleReview',
  props: {
    review: {
      type: Object,
      required: true,
    },
  },
};
</script>


<style lang="less" scoped>
.hotel-review{
  display: flex;

  margin: 20px 50px 0 50px;
  padding-bottom: 50px;
  &:not(:last-child) {
    border-bottom: 1px solid gray;
  }

  .author-image {
    flex-grow: 1;
    flex-shrink: 0;
    img {
      width: 150px;
      height: 150px;
      border-radius: 50% 50%;
    }
  }

  .review-content {
    padding: 0 20px;
    .content-header {
      display: flex;
      align-items: center;
      .impression {
        margin-left: 16px;
        .pos {
          color: green;
        }
        .neg {
          color: red;
        }
      }
    }
    .message {
      margin-top: 16px;
    }
  }
}
</style>
