<template>
  <div class="loading-component" v-if="promise">
    <!-- Loading indicator -->
    <slot name="indicator" v-if="!promiseResolved && !promiseRejected">
      <loading-spinner v-if="!hideSpinner"></loading-spinner>
    </slot>
    <!-- Actual content -->
    <slot v-if="promiseResolved"></slot>
    <!-- Promise rejected -->
    <slot name="rejection" v-if="promiseRejected">
    </slot>
  </div>
</template>

<script>
import LoadingSpinner from './LoadingSpinner.vue';

export default {
  name: 'LoadingComponent',
  components: { LoadingSpinner },
  props: {
    promise: {
      type: [Promise, Object],
      required: true,
    },
    hideSpinner: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  watch: {
    promise: {
      immediate: true,
      handler(newPromise) {
        this.promiseResolved = false;
        this.promiseRejected = false;
        if (newPromise) {
          newPromise
            .then(this.promiseCallbackFor(newPromise))
            .catch((e) => {
              this.promiseRejected = true;
              this.$emit('promise-done');
              this.$emit('promise-rejected');
              this.rejectionMessage = e;
            });
        }
      },
    },
  },
  data() {
    return {
      promiseResolved: false,
      promiseRejected: false,
    };
  },
  methods: {
    promiseCallbackFor(promiseRef) {
      return () => {
        // check if we should even execute this callback since the promise could've changed
        if (this.promise === promiseRef) {
          this.promiseResolved = true;
          this.$emit('promise-done');
          this.$emit('promise-fulfilled');
        } else {
          console.error('promise is no longer valid');
        }
      };
    },
  },
};
</script>

<style lang="less" scoped>

</style>
