<template>
  <button @click.prevent="captureClick" :disabled="!allowClick">
    <loading-component :promise="promise" @promise-done="allowClick = true"></loading-component>
    <slot></slot>
  </button>
</template>

<script>
import LoadingComponent from './LoadingComponent.vue';

export default {
  name: 'LoadingButton',
  components: { LoadingComponent },
  data() {
    return {
      allowClick: true,
    };
  },
  props: {
    promise: {
      type: [Promise, Object],
      required: true,
    },
  },
  methods: {
    captureClick($event) {
      if (this.allowClick) {
        this.$emit('click', $event);
        this.allowClick = false;
      }
    },
  },

};
</script>

<style lang="less" scoped>
.loading-component {
  display: inline;
}
</style>
