<template>
  <div class="notification-content">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: 'NotificationContent',
};
</script>

<style lang="less" scoped>
.notification-content {

  padding: 16px;
  margin: 16px;


  &.info {
    background-color: lighten(gray, 40%);
    color: black;
  }

  &.error {
    background-color: lighten(red, 25%);
    color: white;
  }
}
</style>
