<template>
  <div class="notifications-container">
    <notification-content :class="ntfc.type"
    v-for="(ntfc, idx) in notifications" :key="idx">
      {{ ntfc.content }}
    </notification-content>
  </div>
</template>

<script>
import { mapState } from 'vuex';
import NotificationContent from './NotificationContent.vue';
import { NotificationsModuleName } from '../../store/NotificationsModule';

export default {
  name: 'NotificationsContainer',
  components: { NotificationContent },
  computed: {
    ...mapState(NotificationsModuleName, {
      notifications: (state) => state.notifications,
    }),
  },
};
</script>

<style lang="less" scoped>
.notifications-container {
  position: fixed;
  bottom: 0;
  left: 0;
}
</style>
