<template>
  <div class="login-view">
    <form class="form form-small" @submit.prevent="loginProxy">
      <label class="form-label">
        <span class="form-label-text">Username</span>
        <input type="text" class="form-element form-label-element"
        v-model="formData.username">
        <validation-errors v-if="errors" :errors="errors.username"></validation-errors>
      </label>

      <label class="form-label">
        <span class="form-label-text">Password</span>
        <input type="password" class="form-element form-label-element"
        v-model="formData.password">
        <validation-errors v-if="errors" :errors="errors.password"></validation-errors>
      </label>

      <router-link :to="'/register'" class="form-link">Sign Up</router-link>

      <validation-errors v-if="errors" :errors="errors['non_field_errors']"></validation-errors>

      <button type="submit" class="btn">Login</button>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { AuthModuleName, AuthActions } from '@/store/AuthModule';
import ValidationErrors from '@/components/forms/ValidationErrors.vue';
import { NotificationsModuleName, NotificationActions } from '../../../store/NotificationsModule';

export default {
  name: 'LoginView',
  components: { ValidationErrors },
  data() {
    return {
      formData: {
        username: '',
        password: '',
      },
      errors: null,
    };
  },
  methods: {
    ...mapActions(AuthModuleName, {
      startLogin: AuthActions.startLogin,
    }),
    ...mapActions(NotificationsModuleName, {
      showNotification: NotificationActions.addNtf,
    }),
    loginProxy() {
      this.errors = null;
      this.startLogin(this.formData)
        .then(() => {
          this.$router.push({ name: 'Hotels' });
        })
        .catch((e) => {
          this.errors = e;
        });
    },
  },
};
</script>

<style lang="less" scoped>
.login-view {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
</style>
