<template>
  <div class="reg-view">
    <form class="form form-small" @submit.prevent="registerProxy">

      <label class="form-label">
        <span class="form-label-text">First Name</span>
        <input type="text" class="form-element form-label-element"
        v-model="formData.first_name">
        <validation-errors v-if="errors" :errors="errors.first_name"></validation-errors>
      </label>

      <label class="form-label">
        <span class="form-label-text">Last Name</span>
        <input type="text" class="form-element form-label-element"
        v-model="formData.last_name">
        <validation-errors v-if="errors" :errors="errors.last_name"></validation-errors>
      </label>

      <label class="form-label">
        <span class="form-label-text">Email</span>
        <input type="text" class="form-element form-label-element"
        v-model="formData.email">
        <validation-errors v-if="errors" :errors="errors.email"></validation-errors>
      </label>

      <label class="form-label">
        <span class="form-label-text">Username</span>
        <input type="text" class="form-element form-label-element"
        v-model="formData.username">
        <validation-errors v-if="errors" :errors="errors.username"></validation-errors>
      </label>

      <label class="form-label">
        <span class="form-label-text">Password</span>
        <input type="password" class="form-element form-label-element"
        v-model="formData.password">
        <validation-errors v-if="errors" :errors="errors.password"></validation-errors>
      </label>

      <validation-errors v-if="errors" :errors="errors['non_field_errors']"></validation-errors>

      <router-link :to="'/login'" class="form-link">Sign In</router-link>

      <button type="submit" class="btn">Register</button>
    </form>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import { AuthModuleName, AuthActions } from '@/store/AuthModule';
import ValidationErrors from '@/components/forms/ValidationErrors.vue';
import loginRouteName from '../loginRouteName';
import { NotificationsModuleName, NotificationActions } from '../../../store/NotificationsModule';

export default {
  name: 'RegisterView',
  components: { ValidationErrors },
  data() {
    return {
      formData: {
        first_name: '',
        last_name: '',
        email: '',
        username: '',
        password: '',
      },
      errors: null,
    };
  },
  methods: {
    ...mapActions(AuthModuleName, {
      register: AuthActions.startRegister,
    }),
    ...mapActions(NotificationsModuleName, {
      addNtfc: NotificationActions.addNtf,
    }),
    registerProxy() {
      this.errors = null;
      this.register(this.formData)
        .then(() => {
          this.$router.push({ name: loginRouteName });
        })
        .catch((e) => {
          this.errors = e;
        });
    },
  },
};
</script>

<style lang="less" scoped>
.reg-view {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
</style>
