<template>
  <div class="dashboard-view container">
    <loading-button class="loading-button" :promise="hotelsPromise" @click="getAllHotelsProxy">
      Load Hotels List
    </loading-button>

    <loading-component :promise="hotelsPromise">
      <template v-slot:indicator>
        <div class="loading-indicator">
          <loading-spinner></loading-spinner>
        </div>
      </template>
      <hotel-thumbnail v-for="hotel in hotels" :key="hotel.id"
      :hotel="hotel"></hotel-thumbnail>
    </loading-component>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { HotelsModuleName, HotelsActions } from '@/store/HotelsModule';

import LoadingComponent from '@/components/loading/LoadingComponent.vue';
import LoadingButton from '@/components/loading/LoadingButton.vue';
import HotelThumbnail from '@/sections/Hotels/components/HotelThumbnail.vue';
import LoadingSpinner from '@/components/loading/LoadingSpinner.vue';
import { NotificationsModuleName, NotificationActions, ntfTypes } from '../../../../store/NotificationsModule';

export default {
  name: 'DashboardView',
  components: {
    LoadingComponent,
    LoadingButton,
    HotelThumbnail,
    LoadingSpinner,
  },
  data() {
    return {
      hotelsPromise: Promise.reject(),
    };
  },
  computed: {
    ...mapState(HotelsModuleName, {
      hotels: (state) => state.hotels,
    }),
  },
  methods: {
    ...mapActions(HotelsModuleName, {
      getAllHotels: HotelsActions.getAllHotels,
    }),
    ...mapActions(NotificationsModuleName, {
      addNotification: NotificationActions.addNtf,
    }),
    getAllHotelsProxy() {
      this.hotelsPromise = this.getAllHotels();
      this.hotelsPromise.catch(() => {
        this.addNotification({
          content: 'Failed to load data',
          timeout: 5,
          type: ntfTypes.error,
        });
      });
    },
  },
};
</script>

<style lang="less" scoped>
.loading-button {
  padding: 4px;
  margin-bottom: 8px;
}
</style>
