<template>
  <div class="main-container">
    <router-view></router-view>
    <notifications-container></notifications-container>
  </div>
</template>

<script>
import { NotificationsContainer } from '@/components/notifications';

export default {
  name: 'MainContainer',
  components: { NotificationsContainer },
};
</script>

<style lang="less" scoped>
.main-container {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}
</style>
