<template>
  <div class="stars-container">
    <span v-for="currentStar in maxStars" :key="currentStar" @click="clickedStar(currentStar)">
      <fa-icon :icon="['fas', 'star']" size="2x" v-if="currentStar <= count"></fa-icon>
      <fa-icon :icon="['far', 'star']" size="2x" v-if="currentStar > count"></fa-icon>
    </span>
  </div>
</template>

<script>
export default {
  name: 'StarsCount',
  data() {
    return {
      maxStars: 5,
    };
  },
  props: {
    count: {
      type: Number,
      required: true,
    },
  },
  methods: {
    clickedStar(s) {
      this.$emit('star-click', s);
    },
  },
};
</script>

<style>
.stars-container {
  white-space: nowrap;
}
</style>
