<template>
  <div class="validation-errors" v-if="errors">
    <div v-for="(error, idx) in errors" :key="idx">
      {{error}}
    </div>
  </div>
</template>

<script>
export default {
  name: 'ValidationErrors',
  props: {
    errors: {
      type: Array,
      required: false,
    },
  },
};
</script>

<style>

</style>
